:root {
  --color-bg-light: #fbefe0;
  --color-bg-dark:#2c1a0e;
  --color-border-light:#E8DDD0;
  --color-border-dark: #1a0f08;
  --color-text-light:#f5ede0;
  --color-text-dark:#09090b;
  --color-accent:#e69111;
  --color-bg-card-light:#FFFFFF;
  --color-bg-card-dark:#3d230e;
  --color-hover-light:#3d241029;
  --color-hover-dark: #3d2410;
  --icon-size-light: 20px;
  --icon-size-dark: 40px;
  --icon-padding-light: 7px;
  --icon-padding-dark: 0px;
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-dark);
  --color-border: var(--color-border-light);
  --color-bg2:var(--color-bg-card-dark);
  --color-text2:var(--color-text-light);
  --color-bg-card:var(--color-bg-card-light);
  --color-hover: var(--color-hover-light);
  --color-border2: #000;
  --icon-size: var(--icon-size-light);
  --icon-padding: var(--icon-padding-light);
}

body.dark {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-light);
  --color-border: var(--color-border-dark);
  --color-bg2:var(--color-border-dark);
  --color-text2:var(--color-text-light);
  --color-bg-card:var(--color-bg-card-dark);
  --color-hover: var(--color-hover-dark);
  --color-border2:#fff;
  --icon-size: var(--icon-size-dark);
  --icon-padding: var(--icon-padding-dark);
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  height: 100vh;
  position: fixed;
  background-color: var(--color-bg2);
  color: var(--color-text2);
}
.sidebar .nav {
  margin-top: 40px;
}
.sidebar .nav ul {
  margin-top: 30px;
  list-style: none;
}
.sidebar .nav ul a {
  display: flex;
  text-decoration: none;
  color: var(--color-text2);
  width: 200px;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}
.sidebar .nav ul .active {
  background-color: var(--color-accent);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 10px;
}
.profile .profile-letter {
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--color-accent);
  transform: translateX(30px);
}
.profile .profile-info {
  font-size: 14px;
}
.profile .logout {
  background-color: transparent;
  transform: translateX(-20px);
  width: 40px;
  border-radius: 10px;
}
.profile .logout img {
  width: 20px;
  height: 20px;
}

.main-content {
  margin-left: 20vw;
  width: 100vw;
  height: auto;
  color: var(--color-text);
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading .clock {
  margin: 10px;
  font-size: 20px;
  background-color: var(--color-bg2);
  padding: 10px;
  border-radius: 10px;
  color: var(--color-text2);
}

.stat-cards, .pipeline-stages {
  display: flex;
  flex-direction: row;
  gap: 7px;
  flex-wrap: wrap;
}
.stat-cards .stat-card, .pipeline-stages .stat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100px;
  background-color: var(--color-bg2);
  border-radius: 10px;
  margin: 0 5px;
  color: var(--color-text2);
}

.stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text2);
  height: 100px;
  width: 200px;
  background-color: var(--color-bg2);
  border-radius: 10px;
  margin: 0 10px;
}

.overview-cont {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.pipeline-overview {
  flex: 1;
}
.pipeline-overview h2 {
  margin: 10px;
}

.recent-clients {
  flex: 1;
}
.recent-clients h2 {
  margin: 10px;
}

.recents-header, .client-row {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  align-items: center;
  padding: 12px 16px;
}

.recents-header {
  border-bottom: 1px solid var(--color-border2);
}

.client-row {
  background-color: var(--color-bg2);
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
  color: var(--color-text2);
}

.view-all-link {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: var(--color-text);
  padding-top: 7px;
  padding-right: 10px;
}

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  margin: 0 5rem;
  color: var(--color-text);
  height: 70vh;
}
.login-page section {
  display: flex;
  flex-direction: column;
}

.label-forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label-forgot .forgot-pass {
  color: var(--color-accent);
  text-decoration: none;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  margin: 0;
  font-weight: 700;
}

body {
  background-color: var(--color-bg);
}

.theme-toggle-cont {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.theme-toggle-cont #theme-toggle {
  display: flex;
}
.theme-toggle-cont #theme-toggle img {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  padding: var(--icon-padding);
}
.theme-toggle-cont #theme-toggle img:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

.signup-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  margin: 0 5rem;
  color: var(--color-text);
  height: 85vh;
}
.signup-page section {
  display: flex;
  flex-direction: column;
}

.left-section {
  display: flex;
  background-color: var(--color-bg2);
  width: 100%;
  color: var(--color-text2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-between;
  padding-left: 1rem;
  flex: 4;
}
.left-section span {
  padding-bottom: 1rem;
}

.form-section {
  background-color: var(--color-bg-card);
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex: 6;
}
.form-section .input-group {
  display: flex;
  flex-direction: column;
}
.form-section .input-group input {
  height: 2rem;
  width: 400px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-bg);
  padding: 3px;
  color: var(--color-text);
}
.form-section .input-group label {
  padding: 3px;
}
.form-section button {
  margin-top: 1rem;
  height: 2rem;
  width: 405px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
}
.form-section .error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.success-banner {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-60%);
  font-size: 1.5rem;
  color: var(--color-text);
}

* {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
