@use "../abstracts" as *;



//aside style
.content{
    @include flex-row;
}

.sidebar{
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    width:20vw;
    height: 100vh;
    position: fixed;
    background-color: var(--color-bg2);
    color:var(--color-text2);
    .nav{
        margin-top:40px;
        ul{
            margin-top:30px;
            list-style: none;
            a{
                display: flex;
                text-decoration: none;
                color:var(--color-text2);
                width:200px;
                justify-content: center;
                padding:5px;
                border-radius: 5px;
            }
            .active{
                background-color: var(--color-accent);
            }
        }
    }
}

.profile{
    @include flex-row;
    justify-content: space-between;
    width: 250px;
    margin-bottom:10px;
    .profile-letter{
        height: 15px;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--color-accent);
        transform: translateX(30px);
    }
    .profile-info{
        font-size: 14px ;
    }
    .logout{
        background-color: transparent;
        transform: translateX(-20px);
        width:40px;
        border-radius: 10px;
        img{
            width:20px;
            height:20px;
            
        }
    }
}

//dashboard main content
.main-content{
    margin-left: 20vw;
    width: 100vw;
    height: auto;
    color:var(--color-text);
}
.heading{
    @include flex-row;
    justify-content: space-between;
    .clock{
        margin:10px;
        font-size: 20px;
        background-color: var(--color-bg2);
        padding: 10px;
        border-radius: 10px;
        color:var(--color-text2);
    }
}

.stat-cards, .pipeline-stages{
    @include flex-row;
    gap:7px;
    flex-wrap: wrap;
    .stat-card{
        @include flex-column;
        justify-content: center;
        align-items: center;
        flex:1;
        height:100px;
        background-color: var(--color-bg2);
        border-radius: 10px;
        margin:0 5px;
        color: var(--color-text2);
    }
}
.stage{
    width:180px;
    @include flex-column;
    justify-content: center;
    align-items: center;
    color: var(--color-text2);
    height:100px;
    background-color: var(--color-bg2);
    border-radius: 10px;
    margin:0 5px;
    
}

.overview-cont{
    @include flex-row;
    gap:7px;
}
.pipeline-overview{
    height:500px;
    flex:1;
}
.recent-clients{
    flex:1;
}